*{
    font-family: 'Jost', sans-serif;
    color: #292F36;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header img{
    margin-top: 13px;
    margin-right: 7px;
    height: 34px;
    width: 34px;
}

header div{
    display: flex;
}

.pages p{
    margin: 0 20px;
}

.home{
    color:#CDA274;
}

.visited-section{

    height: 680px;
    background-image: url(../Inferno/img/visited.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    
}



.visited{
    padding-top: 100px;
    display: flex;
    
    flex-direction: column;
}

.visited p, .visited button{
    margin:  15px 70px;
}

.big-text{
    font-size: 55px;
    font-weight:bold;
}

.black-button{
    height: 40px;
    width: 11%;
    background-color: #292F36;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.offer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.white-button{
    display: flex;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
    color: #292F36;
    background-color: #fff;
    border: none;
    margin-left: 70px;
}

.white-button:hover{
    border: solid 1px;
}

.challenging{
    box-sizing: border-box;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.challenging img{
    width: 552px;
    height: 635px;
    border-radius: 0 30% 0 20%;
    padding-left: 100px;
}

#phone{
    display: flex;
}

.medium-text{
    font-size: 30px;
}

.phone-button{
    margin-top: 10px;
    cursor: pointer;
    height: 63px;
    width: 63px;
    border-radius: 100%;
    border: none;
}

#black-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
    background-color: #292F36;
    color: #fff;
    border-radius: 10px;
    border: none;
}


#black-button span{
    color: #fff;
    
    
}