*{
    font-family: 'Jost', sans-serif;
    color: #292F36;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header img{
    margin-top: 13px;
    margin-right: 7px;
    height: 34px;
    width: 34px;
}

header div{
    display: flex;
}

.pages p{
    margin: 0 20px;
}

.home{
    color:#CDA274;
}

.visited-section{

    height: 680px;
    background-image: url(../Inferno/img/visited.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    
}



.visited{
    padding-top: 100px;
    display: flex;
    
    flex-direction: column;
}

.visited p, .visited button{
    margin:  15px 70px;
}

.big-text{
    font-size: 55px;
    font-weight:bold;
}

.black-button{
    cursor: pointer;
    height: 40px;
    width: 11%;
    background-color: #292F36;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.offer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.white-button{
    cursor: pointer;
    display: flex;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
    color: #292F36;
    background-color: #fff;
    border: none;
    margin-left: 70px;
}

.challenging{
    box-sizing: border-box;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.challenging img{
    width: 440px;
    height: 465px;
    border-radius: 0 50% 0 30%;
    padding-left: 100px;
}

#phone{
    display: flex;
}

.medium-text{
    font-size: 30px;
}

.phone-button{
    margin-top: 10px;
    cursor: pointer;
    height: 63px;
    width: 63px;
    border-radius: 100%;
    border: none;
}

#black-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
    background-color: #292F36;
    color: #fff;
    border-radius: 10px;
    border: none;
}


#black-button span{
    color: #fff;
}

.reviewers{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review{
    height: 605px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #F4F0EC;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.review h2{
    
    font-size: 35px;
    box-sizing: border-box;
}

.rev{
    
    display: flex;
   
}

.reviwer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:320px;
    height:260px;
    margin: 0 10px ;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 20px;
}

.reviwer-box div{
    display: flex;
}

.reviwer-box img{
    border-radius: 100%;
    margin-right: 10px;
}

.brands{
    margin: 90px 70px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.brands img{
    width: 90px;
    height: 40px;
}

#brand4{
    width: 115px;
}

#brand5{
    height: 90px;
    position: relative;
    bottom: 25px;
}

.recent-project img{
    border-radius: 0 15% 0 0;
    width: 470px;
}

.recent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
}

.main-project-box{
    margin: 10px 0;
    max-width: 470px;

}

.main-project-box button{
    margin-top: 12px;
    border-radius: 100%;
    background-color: #CDA274;
    width: 60px;
    height: 60px;
    border: none;
}

.project-box{
    
    display: flex;
    justify-content: space-between;
}

.bold{
    
    font-weight:500;
    font-size: 18px;
}

.numbers{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F4F0EC;
}

.number-box{
    max-height: 150px;
    border-right: solid 1px #CDA274;
    width: 300px;
}

.number-box1{
    max-height: 150px;
   
    width: 300px;
}

.number{
    margin: 0;
    color: #CDA274;
    font-size: 45px;
}

